* {
	font-family: 'alata', sans-serif;
	scroll-behavior: smooth;
	font-size: 16px;
	text-align: center;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.logo {
	margin: 10px;
	padding: 10px 0;
	display: flex;
	align-items: center;
	height: 20px;
	aspect-ratio: 1/1;
	text-decoration: none;
	color: #000;
	font-size: 18px;
}

.navigation {
	padding: 3em;
	max-width: 12px;
	display: flex;
	gap: clamp(2rem, 8vw, 4rem);
}



.button-three {
	--button-color: #000;
}

.button-three .hamburger {
	transition: translate 1s, rotate 1s;
}

.button-three[aria-expanded="true"] .hamburger {
	translate: 0px 0px;
}

.button-three .line {
	transition: 1s;
	stroke-dasharray: 60 31 60 300;
}

.button-three[aria-expanded="true"] .line {
	stroke-dasharray: 60 105 60 300;
	stroke-dashoffset: -90;
}

.nav-box {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.nav-box a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

.main-menu {
	display: flex;
}

.main-menu-mini {
	display: none;
}

.navlink {
	display: flex;
}

.navlink li {
	display: flex;
	margin: 10px;
}

.navlink li a {
	color: #000;
	transition: 0.5s;
}

.navbar li a:hover {
	color: azure;
	background-color: #000;
}

.carousel img {
	border: solid 2px;
	/* 	margin: 0 auto; */
}

/*    
        height: 400px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
	background-size: 6px, auto, contain;
}*/

body {
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;
	text-align: center;
}

.birthday-banner {
	background-color: #ffd700;
	/* padding: 10px;*/
	border-radius: 5px;
	/*margin-bottom: 20px;*/
}


header {
	color: #1e1e24;
	text-align: center;
}

img {
	width: auto;
	height: 300px;
}

section {

	text-align: center;
}

footer {
	background-color: #F06543;
	color: #fff;
	padding: 1em;
	text-align: center;
}

#gallery .carousel {
	border: solid 2px red;
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	max-width: 100%;
}

.pks-section {
	border: 2px solid;
	border-radius: 5px;
	background-color: #FEF9EF;
}

.cards {
	max-width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
	/*grid-template-rows: repeat(auto-fit, minmax(336, 2fr)); */
	gap: 5px;
	justify-content: center;
	align-items: center;
	height: auto;
}

.card {
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.507);
	backdrop-filter: blur(1px);
	margin: 10px 10px 0px 10px;
	padding: 5px;
	border-radius: 15px;
	border: 1.5px solid;
}


@media all and (max-width: 767px) {

	body {
		width: 100%;
		/* background: url(images/photos/stacked-waves-mb.svg); */
		background-repeat: no-repeat;
		background-position: center;
		object-fit: fill;
		background-size: cover;
		/* border: 5px solid rgb(82, 207, 89); */
		margin: 10px;
	}

	.main-menu-mini {
		display: flex;
	}

	.navbar .navlink {
		display: block;
	}

	.navlink li {
		display: block;
	}

	.navlink li a:hover {
		margin: 0;
		padding-right: 10px;
		top: 2px;
		right: 10px;
		transition: margin-right 2px .5s;
		background: #000;
		color: #fff;
	}

	.navbar {
		display: none;
	}

	.navbar.active {
		display: block;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: absolute;
		top: 60px;
		right: 20px;
		border: 2px solid;
	    border-radius: 5px;
		background-color: transparent;
		backdrop-filter: blur(4px);
		width: 40%;
	}
