* {
	font-family: 'alata', sans-serif;
	scroll-behavior: smooth;
	font-size: 16px;
}
.gallery-slider {
	max-width: 100%;
        inset: 0;
}
.gallery-slider img {
	max-width: 100%;
	height: 400px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
	background-size: 6px, auto, contain;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;
	text-align: center;
}

.birthday-banner {
	background-color: #ffd700;
	/* padding: 10px;*/
	border-radius: 5px;
	/*margin-bottom: 20px;*/
}

.birthday-message {
	font-size: 24px;
	color: #333;
	font-weight: bold;
}

.decoration-package {
	background-color: #ffffff;
	/*padding: 20px;*/
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.package-details {
	margin: 5px;
	text-align: left;
	font-size: 16px;
	color: #555;
}

header {

	color: #1e1e24;
	padding: 1em;
	text-align: center;
}

img {
	width:auto;
	height: 300px;
}

section {
	
	text-align: center;
}

.gallery {
	background-color: #FFFC99;
	width: 100%;
}

footer {
	background-color: #F06543;
	color: #fff;
	padding: 1em;
	text-align: center;
}

#gallery {
	background-color: #FFFC99;
        overflow: hidden;
}

.pks-section {
	border: 2px solid;
	border-radius: 5px;
	background-color: #FEF9EF;
}

.price {
	font-size: 1.5em;
	weight: bold;
	color: #353535;
	text-align: left;
}

.cards {
	max-width: 97%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
	/* grid-template-rows: repeat(auto-fit, minmax(336, 2fr)); */
	gap: 5px;
	justify-content: center;
	align-items: center;
	height: auto;
}

.card {
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.507);
	backdrop-filter: blur(1px);
	margin: 10px 10px 0px 10px;
	padding: 20px;
	border-radius: 15px;
}

.cta-button {
      display: inline-block;
      inset: 5px 10px;
      background-color: #007BFF;
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      border-radius: 5px;
    }
.booking-buttons{ 
	display: flex;
	}
.book-card-img {
      width: 100%;
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .book-card-img img {
      width: 100%;
      border-radius: 5px;
    }

