@forward "/assets/css/styles.css";

.ceck-out{

}
.btn:hover{
  padding: 10px 30px;
	color: #252525;
	background-color: #fff;
  border: 2px solid #252525;
	border-radius: 50px;
  overflow: hidden;
}