*,
html {
	box-sizing: border-box;
	font-family: 'alata', sans-serif;
	scroll-behavior: smooth;
	font-size: 16px;
	scroll-behavior: smooth;
	font-weight: 400;
	margin: 0;
	padding: 0;

}

body {
	width: 100%;
}



h1 {
	font-size: 2.2em;
	padding: 10px;
	margin: 0;
}

h2 {
	font-size: 2em;
	padding: 10px;
}

h3 {
	font-size: 1.5em;
	padding: 10px 5px;
}

h4 {
	font-size: 1.2em;
	padding: 10px 5px;
}

h5 {
	font-size: 1.1em;
	padding: 10px 5px;
}

h6 {
	font-size: .8em;
	padding: 10px 5px;
}

p {
	padding: 10px 10px;
}

header {}

#header {
	z-index: 4;
	flex-grow: 0;
	font-size: 16px;
	/* display: flex; */
	/* justify-content: space-evenly; */
	/* align-items: stretch; */
}

.desktop-nav {
	/* border: 2px solid; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: bisque;
}

/* .h-bar{
	content: ' ';
	background: #7bff00;
	position: absolute;
	height: 20px;
	width: 100%;
} */

nav {
	display: flex;
}

.navbar {}

main {}

.logo {
	margin: 15px;
	display: flex;
	align-items: center;
	height: 85px;
	text-decoration: none;
	color: #000;
}

.s-container {
	margin: 0 auto;

}

.headline {
	width: 100%;
	text-align: left;
	font-size: 18px;
	height: 90vh;
	background: hsla(52, 100%, 88%, 1);

	background: linear-gradient(90deg, hsla(52, 100%, 88%, 1) 0%, hsla(203, 89%, 90%, 1) 50%, hsla(0, 0%, 96%, 1) 100%);

	background: -moz-linear-gradient(90deg, hsla(52, 100%, 88%, 1) 0%, hsla(203, 89%, 90%, 1) 50%, hsla(0, 0%, 96%, 1) 100%);

	background: -webkit-linear-gradient(90deg, hsla(52, 100%, 88%, 1) 0%, hsla(203, 89%, 90%, 1) 50%, hsla(0, 0%, 96%, 1) 100%);

	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FFF7C0", endColorstr="#CDEAFC", GradientType=1);

}

.bio_box {
	font-size: 14px;
	max-width: 80%;
	margin: 0 auto;
	padding: 30px 5%;
	text-align: -webkit-center;
}

#logo-txt {
	display: inline-block;
	font-style: normal;
	font-size: 1em;
	line-height: 0.9;
	text-transform: uppercase;
	background: rgb(93, 206, 48);
	/*background: radial-gradient(circle, rgba(192, 255, 168, 1) 0%, rgba(220, 230, 47, 1) 50%, rgba(255, 55, 0, 1) 100%) no-repeat; */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.still-text1 {
	font-size: 3em;
	font-weight: bold;
	color: rgb(82 207 89);
}

.still-text2 {
	font-size: 1.25em;
	/* font-weight: bold; */
	max-width: 36%;
	margin: 0 auto;
	color: #948d88;
}

.auto-type {
	font-size: 2em;
	font-weight: bold;
}

.typed-cursor {
	font-size: 2em;
	font-weight: bold;
}

/* .navigation {
	padding: 3em;
	max-width: 12px;
	display: flex;
	gap: clamp(2rem, 8vw, 4rem);
} */



button {
	border: none;
	background: transparent;
}

.button-three {
	--button-color: #000;
}

.button-three .hamburger {
	transition: translate 1s, rotate 1s;
}

.button-three[aria-expanded="true"] .hamburger {
	translate: 0px 0px;
}

.button-three .line {
	transition: 1s;
	stroke-dasharray: 60 31 60 300;
}

.button-three[aria-expanded="true"] .line {
	stroke-dasharray: 60 105 60 300;
	stroke-dashoffset: -90;
}

.nav-box {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

ul,
li {
	list-style: none;
}

.main-menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: absolute;
	top: 35px;
    right: 20px;
}

.main-menu-mini {
	display: none;
}

.navlink {
	display: flex;

}

.navlink li {
	display: flex;
	padding: 5px;
}

.navlink li a {
	color: #000;
	transition: 0.5s;
	/* aspect-ratio: 3/2; */
	padding: 5px;
	text-decoration: none;
	/* border-radius: 3.33px; */
	font-size: 16px;

}

.navbar li a:hover {
	color: rgb(0, 0, 0);
	background-color: #fffb00;
	transition: margin-right 15px .2s;
	/* transform: translate(-100%, 50%) rotate(45deg) translate(100%, -50%); */

}



.carousel img {
	border: solid 2px;
	/* 	margin: 0 auto; */
}

/*    
        height: 400px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
	background-size: 6px, auto, contain;
}*/

body {
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;
}

img {
	width: auto;
	height: 300px;
}

section {
	text-align: center;
}

.info {
	border: 2px slateblue solid;
	text-align: left;
	height: 80vh;
	display: flex;
	font-size: 1.5em;
	align-content: stretch;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
}


footer {
	height: 200px;
	bottom: 0;
	width: 100%;
	background: #7bff00;
}

.gallery {
	height: 200px;
	max-width: 100%;
	border: 2px solid rgb(84, 114, 103);
	margin: 10px;
	border-radius: 20px;

}

.carousel-container {
	max-width: 800px;
	margin: 0 auto;
}

.cards {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
	/* grid-template-rows: repeat(auto-fit, minmax(336, 2fr)); */
	gap: 5px;
	justify-content: center;
	align-items: center;
	height: auto;
}

.card {
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.507);
	backdrop-filter: blur(1px);
	margin: 20px 20px 0px 20px;
	padding: 30px;
	border-radius: 15px;
	border: 1px solid #7bff00;
}

.birthday {
	/* border: #7bff00 2px solid; */
}

.valentine {
	/* border: #b62626 2px solid; */
}

.occasion {
	/* border: #ffd700 2px solid; */
}


.book-now {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 15px 30px;
	border: 0;
	position: relative;
	overflow: hidden;
	border-radius: 10rem;
	transition: all 0.02s;
	font-weight: bold;
	color: rgb(37, 37, 37);
	z-index: 0;
	box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
}

.book-now:hover {
	background: rgb(193, 228, 248);
	color: rgb(33, 0, 85);
}

.book-now:active {
	transform: scale(0.97);
}

.hoverEffect {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

.hoverEffect div {
	background: rgb(222, 0, 75);
	background: linear-gradient(90deg, rgba(222, 0, 75, 1) 0%, rgba(191, 70, 255, 1) 49%, rgba(0, 212, 255, 1) 100%);
	border-radius: 40rem;
	width: 10rem;
	height: 10rem;
	transition: 0.4s;
	filter: blur(20px);
	animation: effect infinite 3s linear;
	opacity: 0.5;
}

.book-now:hover .hoverEffect div {
	width: 8rem;
	height: 8rem;
}

@keyframes effect {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}


@media all and (max-width: 767px) {

	body {
		width: 100%;
		/* background: url(images/photos/stacked-waves-mb.svg); */
		background-repeat: no-repeat;
		background-position: center;
		object-fit: fill;
		background-size: cover;
		/* border: 5px solid rgb(82, 207, 89); */
		margin: 0;
	}

	.main-menu-mini {
		display: flex;
	}

	.navbar .navlink {
		display: contents;
	}

	.navlink ul {
		display: inline-block;
	}

	.navlink li a:hover {
		margin: 0;
		padding-right: 10px;
		top: 2px;
		right: 10px;
		transition: margin-right 10px .5s;
		background: #000;
		color: #fff;
	}

	.navbar {
		display: none;
	}

	.navbar.active {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		position: absolute;
		top: 70px;
		right: 40px;
		border: 2px solid;
		border-radius: 5px;
		background-color: transparent;
		backdrop-filter: blur(4px);
		width: 40%;
		z-index: 5;
	}

	.headline {
		width: 100%;
		text-align: left;
		font-size: 6px;
		height: 75vh;
	}

	.bio_box {
		max-width: 100%;
		font-size: 12px;
		padding: 40px 2px;
	}


}