* {
	box-sizing: border-box;
	font-family: 'alata', sans-serif;
	scroll-behavior: smooth;
	font-size: 16px;
	/* text-align: center; */
	scroll-behavior: smooth;
	font-weight: 400;
}

body {
	width: 100%;
}

html {
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header {
	float: none;
	height: 5rem;
	z-index: 4;
	flex-grow: 0;
}

nav {
	display: flex;
}

.navbar {}

main {}

.logo {
	margin: auto 15px;
	display: flex;
	align-items: center;
	height: 85px;
	text-decoration: none;
	color: #000;
	font-size: 18px;
}
.s-container{
	margin: 0 auto;

}
.headline {
    max-width: 60%;
	text-align: left;
    font-size: 16px;
    margin: 0px 10px;
    height: 51vh;
}

.bio_box {
	font-size: larger;
}

#logo-txt {
	display: inline-block;
	font-style: normal;
	font-size: 1em;
	line-height: 0.9;
	text-transform: uppercase;
	 background: rgb(93, 206, 48);
	/*background: radial-gradient(circle, rgba(192, 255, 168, 1) 0%, rgba(220, 230, 47, 1) 50%, rgba(255, 55, 0, 1) 100%) no-repeat; */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.still-text1 {
	font-size: 2em;
	font-weight: bold;

}

.still-text2 {
   font-size: 2em;
   font-weight: bold;
}

.auto-type {
	font-size: 2em;
	font-weight: bold;
}

.typed-cursor {
	font-size: 2em;
	font-weight: bold;
}

/* .navigation {
	padding: 3em;
	max-width: 12px;
	display: flex;
	gap: clamp(2rem, 8vw, 4rem);
} */
.embla {
	overflow: hidden;
  }
  .embla__container {
	display: flex;
  }
  .embla__slide {
	flex: 0 0 100%;
	min-width: 0;
  }
  

button {
	border: none;
	background: transparent;
}

.button-three {
	--button-color: #000;
}

.button-three .hamburger {
	transition: translate 1s, rotate 1s;
}

.button-three[aria-expanded="true"] .hamburger {
	translate: 0px 0px;
}

.button-three .line {
	transition: 1s;
	stroke-dasharray: 60 31 60 300;
}

.button-three[aria-expanded="true"] .line {
	stroke-dasharray: 60 105 60 300;
	stroke-dashoffset: -90;
}

.nav-box {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}


ul,
li {
	list-style: none;
}

.main-menu {
	display: flex;
}

.main-menu-mini {
	display: none;
}

.navlink {
	display: flex;

}

.navlink li {
	display: flex;
	padding: 5px;
}

.navlink li a {
	color: #000;
	transition: 0.5s;
	/* aspect-ratio: 3/2; */
	padding: 5px;
	text-decoration: none;
	border-radius: 3.33px;

}

.navbar li a:hover {
	color: rgb(0, 0, 0);
	background-color: #7bff00;
	transition: margin-right 5px .2s;
	/* transform: translate(-100%, 50%) rotate(45deg) translate(100%, -50%); */

}



.carousel img {
	border: solid 2px;
	/* 	margin: 0 auto; */
}

/*    
        height: 400px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
	background-size: 6px, auto, contain;
}*/

body {
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;
	text-align: center;
}

img {
	width: auto;
	height: 300px;
}

section {
	text-align: center;
}

footer {
	height: 200px;
	bottom: 0;
	width: 100%;
	background: #7bff00;
}

#gallery {
	height: 200px;
	max-width: 100%;
	border: 2px solid rgb(94, 113, 106);
	margin: 10px;
	border-radius: 20px;

}

#gallery .carousel {
	/* border: solid 2px red; */
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	max-width: 100%;
}

.pks-section {
	border: 2px solid;
	border-radius: 5px;
	/* background-color: #FEF9EF; */
}

.cards {
	max-width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
	/*grid-template-rows: repeat(auto-fit, minmax(336, 2fr)); */
	gap: 5px;
	justify-content: center;
	align-items: center;
	height: auto;

}

.card {
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: left;
	background: rgb(207, 144, 49);
	background: linear-gradient(222deg, rgba(207, 144, 49, 0) 0%, rgba(238, 221, 54, 0.4206057422969187) 100%);
	backdrop-filter: blur(1px);
	margin: 10px 10px 0px 10px;
	padding: 5px;
	border-radius: 15px;
	border: 1.5px solid;
}

.birthday {
	border: #7bff00 2px solid;
}

.valentine {
	border: #b62626 2px solid;
}

.occasion {
	border: #ffd700 2px solid;
}

.card-img {
	height: 200px;
	aspect-ratio: 9/16;
	overflow: hidden;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
	background-size: 6px, auto, contain;
}


@media all and (max-width: 767px) {

	body {
		width: 100%;
		/* background: url(images/photos/stacked-waves-mb.svg); */
		background-repeat: no-repeat;
		background-position: center;
		object-fit: fill;
		background-size: cover;
		/* border: 5px solid rgb(82, 207, 89); */
		margin: 0;
	}

	.main-menu-mini {
		display: flex;
	}

	.navbar .navlink {
		display: contents;
	}

	.navlink ul {
		display: inline-block;
	}

	.navlink li a:hover {
		margin: 0;
		padding-right: 10px;
		top: 2px;
		right: 10px;
		transition: margin-right 10px .5s;
		background: #000;
		color: #fff;
	}

	.navbar {
		display: none;
	}

	.navbar.active {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		position: absolute;
		top: 60px;
		right: 20px;
		border: 2px solid;
		border-radius: 5px;
		background-color: transparent;
		backdrop-filter: blur(4px);
		width: 40%;
		z-index: 5;
	}
	.headline {
		text-align: left;
		font-size: 12px;
		margin: 0px 10px;
	    height: 51vh;
	}
	
	
}